body {
  background-color: lightblue;
}
h1 {
  color:gray;
}

p.ex2 {
  border: 3px solid black;
  outline-style: outset;
  outline-color: green;
}
ul {
  background: gray;
  padding: 20px;
}

li {
  border-style: solid;
  border-color: blue;
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}
img {
  float: right;
}
.nav {
  background-color: gray; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.button {background-color: #4CAF50;} /* Green */

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: gray;
  border: 2px solid #4CAF50;
}
div.description {
  background-color: grey;
  width: 200px;
  height: 600px;
  border: 1px solid black;
  overflow: scroll;
}
