body {
  background-color: lightblue;
}
h1 {
  color:Tomato;
}
p.ex1 {
  border: 2px solid black;
  outline-style: outset;
  outline-color: grey;
}
p.ex2 {
  border: 3px solid black;
  outline-style: outset;
  outline-color: green;
}
ul {
  background: #3399ff;
  padding: 20px;
}

li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}
