
[required] {   border-style: solid;
              border-color: red;} 
[pattern] { text-align: center;
           color: green;} 
#city {
  background-color: yellow ;} 

label { 
  font-family: "Lucida Console", "Courier New", monospace;
      } 
.button {background-color: #4CAF50;} /* Green */
